# Ativa reescrita de URLs
RewriteEngine On

# Define o diretório base (ajusta se teu site estiver em subpasta)
RewriteBase /css/

# Permite acesso a arquivos e pastas reais normalmente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Redireciona todas as outras requisições para index.html
RewriteRule ^ index.html [L]
